
.icon[data-v-65af85a3] {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}
.icon.icon-version[data-v-65af85a3] {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    opacity: 0.5;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAIGNIUk0AAG3hAABzpQAA9BYAAIHNAABwggAA9bgAADkDAAAX4iNKRqUAAByNSURBVHja7J1/SJR5Hscf88btdou5YgfqBt2CzVAQhMElYdvSPbk9ZCO5jmAWIXCLDYIWpRjomiUycCHZgVDi8p/NEwxRkB1O68pt83CNfrqHrho3mUxatm2iTXrOOZ/765HH8Xme+T6/n2fm/cfrn3Ke+fV8XvP98fl+PhwRcQCAzAQfAgAQAAAAAgAAQAAAAAgAAAABAAAgAAAABAAAgAAAABAAAAACAABAAAAACAAAAAEAACAAAAAEAACAAAAAEAAAAAIAAEAAAAAIAAAAAQAAIAAAAAQAAIAAAAAQAAAAAgAAQAAAAAgAWExbWxvhc4AAQIaSnZ1NPNFotAufCQQAMlQAHMdBAhAAyLQpgFAAHMdRb28vpgUQAMi0UQAvAEgAAgAZLgCO4yAACABksgDy8vIgAQgAGP5FCgJufHx81uznr6mpWRP8GAlAAMBkAVgVcB0dHbICwEgAAgAGUlxcbOmvLosAIAEIABhEIBCwdOg9PDycYBHAkSNHIAEIABiB2+22VAI+n092FMBz8OBBSAACAGYJ4MyZM2QnAXAcR4lEAt8ZBAD0pKenRzLgBgYGDJfAr7/++kdWAeTk5EACEAAwejfAzFV4pQLIycnBVAACAGYIgOM4ysrKIiufHzkCEAAwmN27d8sGm9frJbsJoKWlBRKAAIAZ+/Fer5empqYuGvX8RUVFhFEABAAsItV+vNfrNXQUUFZWpkoASBKCAIDJw3AjnruhoUGVADiOo+zsbEgAAgBaCYfDTAFnRH5AW1ubagFwHEf19fWQAAQAtDAwMLCSemv2KODp06etWgSAkmIQANABVgHoPfcWCqC0tJRcLhcWBSEAYEVasFRqsNEJOTt37iSO42jjxo1ERJzf719ZfIQEIACQIQIQBrEaASA/AAIAKonFYltZBCBkenr6vB7PHYlExvhrjo6OLgglgKkABABMlMDnn3/OHGwnTpwgvQXg9/tXXdPv9yM/AAIAZtLd3c0ccG/evHlXz1yEzZs309zcXL7w/xobGxVJ4JNPPoEEIABgVo6+0QJQc2bg7t27kAAEANRSUVHBHGzNzc2kpwAGBwfXXO8f//iH4vWA5eXlLHyXEABQwfHjx01dfHv77bdlBbC4uPiOUgFUVVVhFAABACOnAcJGn1qFw+9C7N+/X/Ra8/Pz+UolYEZlIwgApCXRaLRLiQD6+vpIDwF8+OGHpFf9AOwKQADAxIIdap/n7NmzKwLYsmWL5HUuXLigWACQAAQAVCLWv0+OxsZG0ioAOZHcuXMHAoAAgFkoPa+vNk14dna2pLCwkGkk0d7ejgNDEAAwA6Xn9bWcFRAKQCwXQMvUhOM46ujogAQgAKCEeDzuUhNs/f39FI/HXUYJ4IMPPsAoAAIAZgggVStvKbQIoL+/XzZYr127BgFAAMAMpqenz6sJNqU9/fbt26foaK+a1+R2uyEBCAAYvR2o5hdXqQBYaxlCABAAsEgASiTw6NGjF0ozC9UIoKenBxKAAIASNm7cqFoASo4MKxWA0jwFvvIRvlMIAChgcHCQNm/erDj4WRuLhMNhqq+vX/XYpaWllIuIR48eNVxKAAKAADQKQKy9WDQa7WppaZF8LIsAlBYLETvC7Pf7ye/3rypHBiAAIGBubi5fjQCEQ/qWlhYKBAJUXFzM9NirV68yDdVv3rxJPEpe288//7xERNzU1NTF5CKkFRUVdPz4cUwVIACglwCUztdZBSDG8PBwoqOjg/x+v+TIpbOzc+X6clWIUV0IAgBEXH9/P2nt4qOE06dPMwXe5OTkD3v37qXq6mpKJbGdO3cSX4a8pqZm5e97enpSlkU/ePAgJRIJCABk7ijArgJQ2tZcbIuStS9CV1cXQQAA+QAGU1ZWRmpfFz+k9/l8otfg05uF/yZsUJLqsJPezVEgAOAIcnNzTRNASUkJc5Dt3btXUgBiEhgeHk5wHEc7d+4kJYITCiAnJ4fm5+fzIQAAARiAy+ViFkBdXV3KJiZinYy2bNlCf/vb30jLCGfXrl0EAYC0h2WIrDd6CUCqk9HJkydXlSArLS1V9TozpeoQAiEDjwPv2bPH9MBXKoBQKMR0vVAotOqa//rXv+jkyZOUnPDEg9JjEAAW/SxEbwEIgzsUCtHJkydXTQH4fAe1Akh3CSAoMoTTp0+T1cHPcRyNj4/PmiErYWrw7du3VV+HXxz89ddf/wgBAEcSDAZtEfxmCoDjuFV5A1oFkK4SQIBgyG8qSgp5an2uc+fOkXB3QOv10nE6gCBJY3JyciiTBSBMJd6/f78ur3/fvn0EAQBbc//+fdsFPk9hYSGZOXp5/fr1e0TETUxMDAmLlGqhqamJIACA4HeAAIRrDnoJIJ2qESNoMOdPawEIpxx6CiBdzg4gaNIIltNvdhDAxMTEkBUCmJiYGNJTAOlwihCBg19+08nJyaEvv/xStvGoHnP2S5curbr+4uLiO3q/l2g02gUBAAS/hhFBe3v7mlFBe3s7aRHApUuX6D//+c/j5FJjVmY3QgBAd/785z+TkwUgZPv27RQIBKipqYkOHDig6hrl5eW0uLj4Dv/5TE9Pn5+enj5/4sQJw163k0cBCKIM/vXPzs6mgoICMvNIsFFUVlauGfITEXfjxg1bnXGAAIAuqO3vl1xk49ChQ44MeP5wT/L0IZFIcIlEggsGg5SXl2fKeoaTFwQRTA5FjyHtjh076MMPP3REwHu9XtqxYwcFAgEKBALU29tLk5OTPyQvHMr1JTBSADk5OY4sMIpgytCFv+3bt1NJSQnZMV1YjNzcXCooKFhZI+jt7aXe3l764osvSNiE1Er27NlDEABwRI5/WVkZlZSUOHbOr/R8v93qHUAAQBXNzc2ablCPx0PHjh2jw4cPp83ugZ1w2loAgirDhv4ej4dCoRBVVVUhYA1aE3DSWgCCKsMEcOzYMers7ESwGigAJ40CEFQOQo/Frs7OTmKttwfU7wpAAEBXvvnmG803ZzAYpKdPn7aqLZUN2IlEImMQANANPebsfX199PTp01YEKHYEIIAMPPATj8ddX3zxBYLTJPr6+ggCALZI++3v76d4PO6yS9JMJhAMBiEAYO6vv8fjIY/HI/rr7/Sjw5gGQAAZRyQSGVMjAGG2IJ+iGo/HXQhKc7F7t2EEmc1RelqPT/QRCqCuro6IiHvy5MltBKW52L2XAILM5ig9rdfZ2bkm0YdvoBkOhxGUEAAEkK7zf74ApvBIrLBCjp5VcYG6PoUQADBMAC9fvqwSE4ARZbFBeiwGIshsTE9Pj6q6dMk18iAACAACSPM6/1Kjhps3b0IAEAAE4DSmpqYusna0Ff76j42NvRZrjbWwsOBGICIpCAJwCNevXydWAQgfBwFgFAABZJAAkmvSX716lSAAe9LW1kYQANBVAMmPs6MADh06lBa9B7TS0NAAAQA2gsEgU2Xf5MddunTJlPbYShgZGVnWWsswHcjNzYUAgH4CqKiocIwARkZGljEN4CAAoJ8AwuFwSgEI22NbIYDNmzfT4OAgzc3N5duxjDcEgGDLGAG0t7dbVr9/bm4uf3Bw0NTnzsrKsp0AHj169AICAEzHgFMtAi4tLbmSH5d84IcPPiLiOjo6LLvx+YIkZrcTk6qPYBVbtmwhCABYIoBffvnlMytv/ng87vr+++9Nfc7du3dDABCAMxETAD+k3rx5s+iNND4+Pis2B9eztqBazp07R0TE1dbWmioAn89nKwHYqWIwAi0DBMDXAyAi7q233rLFIphZz+fz+ehPf/qTrQRgp+PBCDSHLQSmEoBYcAmLUtTV1VkaABcuXKA7d+5Qe3s7mbUrcfjwYaqpqUFCEATgLP73v/+t00MAHMfRs2fPviIizg5dge7cuUNLS0suMwXQ2tqK7UAIIL0KgogtAhIRd+bMmTV/KzwWLHatAwcOUCAQoJ9++ommpqYuLi4uvsNXEuIXEDs6Oujo0aO6jAKWlpZcDx8+NCXYioqKqLW11VajAAgAMCGXQ69EAOXl5SujgHv37okKoKmpifnG/O677+i7774jtW3GHj58SEtLS65Tp06ZEnCtra22GgVAAICJGzduSN5EUgH76NGjF9nZ2ZSdnb1mRZyIuGfPnn3FTyPE6grypcVYGB0dXRgdHV349ttviaWCMf+8oVBoZXsyFAqR1OvRCz4hqri42BYCEEviggCAoq5AgUBA8iYSE0DyWoBUwAmzB+VYXl7O+vbbb+mf//znCiUlJbR9+/aUAhBuT7548eKI0QLgf3XtVBkZAgBMdHV1rbSdTnUYKJUA+BqBqXLzb9++zXSDJjcuKSgoYD76KzzNODg4aLgA+vr6yE7NUSAAwEQikeDEBCB2HJhFADdv3kyZm19ZWUmVlZXMN6nSDkY8Q0NDK0IyeociGAxSPB539ff3QwAQgLOIRqNdSm6i5uZm2YIifDZaS0tLyv14JSIoLCxUvL//+PHjIf7xahcVlZ7HN2PK4YR1AASXw7cEp6enz6s9SxCJRMZmZmZqhX0E9Pi1UiqAU6dOrVw/FottNTLoXrx4ccSsKQcEAAyXwIkTJ0hJKrFYfsDMzEztsWPHZP/uzZs37yp5nXl5eaqHw2qnE0qnHFYLoKysDAIAykguraVVAIWFhdTS0kItLS0kJ4HJyckflLzO5DMJqRA2MDFSAvy5CCvqEyRTUlICAQDl1NbWktvtJrfbTdnZ2XT//n3JfADWm7G0tJQ+/fRT0YVD4Xl+Ja9zZmamVmnKrvDxRnUzfvDgAWlZs9CL9957DwIA6rsG8QLIzs5WdC5ADTU1NSkFEIlExgYGBla9FiWLekVFRWvex8cff2yoACYmJoas7JgEAQBNEjBLACw3Kz96EP4bywIjj8vlItbUZj3r81spgOXl5SwIABjGrl27LBUAa3ejVM+hZ9BVV1evep6JiYkhCACkJW1tbbrdrN9//71kgFZXV6+aKsTjcZea03dy78Xv9+v2Xl6/fv2e8NpW5QXMz8/nQwDAMB48eGCKAPbu3btqsVBttp2W49FKEPZLsDIvAAIAhqJn7rvc4SP+b2Kx2FYtyTyp3s/U1NRFPU8H8liVFyC3jQsBAF0EoFchDCkBVFZWEsdxtHfvXorFYlu1pPOyvCc9JCAmACvyAiAAYBhv3rx5V+5orlJKS0vX3Kw///zzkvD/8/PzTdkWkzoboXUBLtO2AhEoaRr4Zt2sepfZ0uOAlBYBmFWhCAIAujI7O1ty9+5dMrrizcTExJCR22dK37eWo73J+QBWjQIgAKAp8P1+P/EYfbMWFhaSUQk0cglNfr+fpNY41EpAqjy32S3UIACgGiv6/R06dIjKy8t1v+7vf/972V2GDRs2kJ7THrnTeHyqtRmf59WrVwkCAKoYHh5OpEvr7G3btlGq4G5vb9dNAnIVlSAA4LiDQWbdsGYfj52cnPxBbAqixxah1HWOHz8OAQAIwA4FMpIFIFyI1CoBqWucPXsWAgDOLx3uJE6fPs10GtDn8zEFDMuiqLD7kZDFxcV3jFjnSMbtdtPZs2chAKB/vcB0EYCWEmUsJdGkHmuWAI4fPw4BAAigr69vTSCMjIwsa90+gwAggLSnoqIi4wSgpFDp7373O6ZahEJu3rwJAQBncO3aNVMSgcxOiDl8+LDibUMpfD6f6PmGWCy21cqR1a5duyAAoI1IJDKWjgKoqqqSfczU1NRFJZ+TWI1BqwXw/vvvQwBAO04WwJkzZ0SDYN26dbKP83q9ioOnr6+PhK3T5ATA2ucQAgC2mAakmwBSPc7r9SoeBQglkEoABQUFEADAboDRPHny5LaaAh1801QtnxffJ1GMQCCQ1geCEDRpxpdffimb+/7JJ584RgAs3YJ5AXR1dZHatRM5ATQ1NUEAID1Sg3fs2EHXr1+n69evk9619rWS3HRETY2+H3/8UfdAMivLEgIApp0NuH79+soNd/r0abI6h2D9+vVrAkBNld6amhoIAAIALGsBYr3++vv7qbKykvgin1YWxqyrq1N1Lancfi0YOVpK1dkJAgCqCAaDqn8xX7169VF3dzel2oPXixs3bqx5HXv27FF1LbnMPggAAsgY7t+/z3QDSpXaev78+VfPnz//SkuJb1amp6fP67WbYYQAkvMGIACQNqMAOQF0d3eTx+MxXQC3b98mowTw6NGjFxAABCBJW1sbNTQ0UFlZGZWUlFBJSQmVlZVRQ0ODZBVZJ68FZGdn0/3799e8r+bmZlLa2FOPBh0//vijputJCS15cTEUCtHc3BxTW665ubl8Iz8Dqa7IEICJ9PT0MFWAKS0tFW2Q4dRRgNgvEB/8Zgjgl19++UzPPgOsAuCxQ4IVBGAhWhJjnCIClpJhy8vLWcvLy1m7d++27ADQ4uLiO1qvNzo6uiD3WTx+/Hgo+ThuT08PQQAZiB4LXOXl5TQzM1PrFAlIvQ+zVvzlqvLqUYBDjQDcbrelAti0aRMEYBbLy8tZ4XBY8Zfk9XrJ6/VKpqKqOZVmNvv27bNV9p+w2WhnZ6dpCTUsiUhKTyVqoaKiAgIwCzXBnywAl8tFmzZtIpfLtUoAdpeA3QTQ1NREev/CQgAQgCFDOa/XSyMjI8tS1+UFYPd1ATvm/+tVesvj8RgmgPXr10MATkftHPOzzz5j+oJ4AdhZArFYbKsdgp9PRdaz/Dbr5568M2K1AFAT0AS++eYbVV9ONBrtUvI8eXl5lJeXZ/v1AKk1Db0oLy8X7R+YvP2m566DcE1BjpaWFsU1+YwSQGNjo6X3SsYIQM0q91/+8hdVX44TJDAyMrJspADC4TCFw+E12XN8Eo4RUxLhmgKfwMMigD/84Q+WCcDyKaHZT7i0tOQSYre5L58YoyU90y5fLosEWNKFlcJnTI6Oji6IjQAGBwfJiBqGye+vv7+fxFJ/k1N7rRJAOBzODAE8efLkNj83lsqsS64IY7UAxNJjlT6Xkrr1dmFwcJAGBwfp1q1bdOvWLRobG3sthCUf/sGDB7IC4H+Z9RRAMBg0VAB67wIUFxfT8vJyVloLIC8vT/ID4IfJUgtEer6Orq6ule26VF8MnwKrpTw3/1xypaacSDQa7Ur1+QmTohKJBCd1Xv/8+fNM34eWoXRhYaFoN2Fhbj9rYw49G4GwJB45WgADAwOyAZ5KAPz/DwwMkBUCaG5uVv28/POkowCUprQmC0DYyIP1+0hHAdjqO7VqsW1gYIAGBgbo5cuXVS9fvqwaHR1dGB0dXeAPg/CCYM3VZg1KFgEIS2YpTbe10wKP2b/+3d3dq97zwsKCW3jwpre3l/icfz0FIFbYZGJiYkhKAMKAZu3Oq5cAtN7LthbAf//737fk3vy2bdtSzovj8biLTxDhBaB12KRUAErrzPMnCYUCsMMCj5m//lVVVfT8+fOvpAQQCoVocnLyBz4fQ08BfP3117ICmJiYGLKDAFKdVHS0AJaWllxyZZvV1m6PxWJbhQGmZlrAcsxX7S+33ed4Rk+h5H5lw+Hwmv9Xm4qt9PviT3lKBbgwX+HZs2dfyb3/RCKhesrC51scOXLElveEbhe6deuWIY0bhCJwu92kZo+9p6fHsK2Z7u5uW8/xtCK8+aUE0N7eLisA4S9wcXGxKVtpqeb4ZgvAtiM7owWg93xYuMBoBwEkn7fPtCPThYWFJJXPUV5evkoOs7OzJWYl0igRgBGnR7X0LoQADMi2Mzo5Ix2Df35+PmUprIcPH4oKYHR0dCH5sywsLNQ1+KVy/4W1/N1uN1VWVloigOR6B2ktgFRBdvToUTJqZZpl286pq7RWJgSlypTs6+tj/qxOnTql+9xfakH56NGja15z8t+8//77xHEcsRQJVSOAlpYWR9xHpq4Wv3z5skrv53vz5s27LBJgnXum4y+5GjZs2CArACXB/+rVq4/MzKNn+VsjBeCU4DddAL/5zW/IyLmq3HFQ1i6vEABxO3fu1HVRy4hOQ1K//ufOnWOSxa5du1QXEGE5B5GxAiCS76RSVVVlqASk1gUuX74MAegkACXXevXq1Ud6C0BO9NXV1Uy9B4wQgNh5hIwUQHIZKiFGZ8j5fD7y+Xyiz3HkyBHViSWZwNTU1EW9j69mZWXpGvypkmlYF3f5jFOtAnD67k9a3shyErCqy2w6BH8sFtuq5JpGdNKRq/qbKl05WQCs33M6jxjT9oaW2iZ0SqEGu6T6qk3kikQiY0YIQO3URUwALCO9trY2yeudOXPG8fdJWt/U/GlD4b81NTVBAAqObavN4jSil96lS5dMF0BDQ0PaBn9GlAQT2x2QS21N56w+NVMiuxQdPXHiBKmVGM/jx4+HhNMFlvezadMmR3aDggCSJJC8JgABpD4ktbCw4NY7ddiIoT+fC2KEAFwuly06+EAAOiwMJv9bY2Oj7A2zYcOGtJSA3LzW7/erPrbq8/kMCf5UhVX0mkLInfNI2xFgJs11xSRw8ODBjFoLkAt+lt56qXZe9A7+VHvrrL/+WgSQ1lNApL2uNr3Y1CAd3t/4+Phsqnmy1LA4EomM+f1+unbtGrHk3usB6+7Dtm3bmK/56aefIs0bApCXgNTagJPf1927d1U3QLl27RqZHfysuw8suQvpvIAHARhY/SZdbh6+Mo4UySmyPHzpbLm8+6KiIsMai7C8N6WNTfLz8yEACICtCk7ycNnuPf+k6hTKBYTYiT5hzXy55ihFRUVklACSO/xI/fpDABCA6fvkNTU1K11t7cjf//53SnX0OfnodCKRWGmYyZ/2k+qEfPXqVUObhs7Pz+crWbNhXUtwSs9GCMBmTE9Pn79w4YIjzgqk2oMvLS1dVfFY2MSEpQ06S4UgLbCeoxfmakAAEIAlAcZ6MzU3NysuM650zUKuv5/H4yGPx0OhUIg6OztpamrqYnNz85oAkdty01IUU+/gTy7CyioAvZrMQAAZTn9//6rGJUpWqrV0HCKJopupAoAXwLFjx8jj8UgGiFSyjbAkuFEC+Pjjj3Wv7fjBBx/Q/v37KZFI4L6FAIxbH+CHov/+979lb+KZmZna8vLyVS3RgsEgNTQ0UFtbG8Visa0sx23D4TCpKa0tNWSW2wUwantPKJLq6mqm4J+dnS0RNhTh4Xs5au3pCAEAVbS2tq4EV2tra8obMFVPRKm5q15NKYVDbqlfRyOH+kIBKKnAfPnyZRITQHNzc9r1YIQAHDwi8Pl8TDekVQKQ+sWPRqNd9fX1ZPRcn7++0vLr5eXlKwLo6urCLz0EYE8ikcgYnxefSgSRSGTMSAGsW7eOiouLKRAIkFwVnfr6eskhuhEC+Otf/6oogBsbG+ny5ctYyIMAnEU0Gu2qrKykK1eu0L1792SP17Jua0nx29/+lnJzc+nAgQNUW1tL9fX1dPHiRRI7EzA+Pj576tQpUppIowVsw0EAGcnCwoL73r17dOXKFbpy5UrKADh58qSqAMvNzaWCggKqra1dhVyFZjNB8EMAQCE3btywRfBqJV3KZ0EAwLKpRF1dHe3ZswfBDyAAIH1q0Wz4BU+ee/furTAzM1OL7woCAAYyPDyc6OjoIL7O/dtvv70Kl8u1ivXr169i48aNq6ioqFhFXV0d1dXVUSgUolAoREtLSy4h+A4gAAAABAAAgAAAABAAAAACAABAAAAACAAAAAEAACAAAAAEAACAAAAAEAAAAAIAAEAAAAAIAAAAAQAAIAAAAAQAAIAAAAAQAAAAAgAAQAAAAAgAAAABAAAgAAAABAAAgAAAABAAABAAAAACAABAAAAACAAAAAEAACAAAED68f8BAFHvPdCk2ySQAAAAAElFTkSuQmCC);
}
.icon.icon-murakumo[data-v-65af85a3] {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAIGNIUk0AAG3hAABzpQAA9BYAAIHNAABwggAA9bgAADkDAAAX4iNKRqUAAAonSURBVHja7F3BT1PNFj+3LQRaYKjaNtqywK+AQrshAtVYTVwQIGh3bpoSg2tNiEmXz/dWEKzxDygkIC5c1ShEPl2JQASU5JlADJBolKIlQmiRhE+KPW+ht69Ae2n1cnvpPb9kAumdnpk78+ucM2dmznCICATlQkVNQAQgEAEIRAACEYBABCAQAQhEAAIRgEAEIBABCEQAAhGAQAQgEAEIRAACEYBABCAQAQhEABERDAaHNRoNMsaQMYZarRarqqpQDDl2uz1jOXNzc5sHVZ+amhp5bcJExKynwcFBBIA9KVM5fX19osjx+/2iyAkEAqLIOcgkixHAaDSKIqe8vFxW9TEYDKQCCEQAAhGAQAQQAGPsHzHkHD16VBQLu7S0VJT30uv1SARIA5FIpEAMOaurq5wYctbX10V5r7W1NU72Q4CUU46Wlpak0yJKP5PVasWcngbOz8+T0hXA+/fvc1sFHDt2jHpZAEVFRTQLIEgLTsr4AIwxFMvAylUgoqSGo0bKwj59+lQ/Ojo6lek0S6/Xo9fr5Z4+fbrn2cjICBQUFMDW1pZk7yFUn8HBQTAajRnXJxaLwcmTJ//O6RHgT7CwsBCurKxk2f7F8AgGg8NlZWVNcqlPztsAc3NzTGYWe1MuqBwyAhWOQ0OA8vJyWekqsdzORIA0MTk5KSvd+ubNGy4nhgAp3Y5Op5NcvgLJbDbntit4eXmZlK4Avnz5ktsq4MiRI9TLAiBXMEFykCtYfjZZ7rqCV1dX8ycmJrYOcqdMfn7+eltbG5uYmBBNZiAQAJvNFtna2io5qHqvra1xdru9PqdnAVKlzs5OUa3zXGwjPnG5GC08EonUlZaWTokhy2w2QzAY5CBHkZNGIGPsNSJy0Wg0f2ZmBru7u8FkMqX1XbfbDYFAAEKh0L8RkcvlzpfcCMw2zp49i0K2QTQazddoNFElGZ0aqQuMRCJ1Op3uv5KynON+qNXqWCwWE8w3MTGxdf78eW57eztP6nb5/v37CZ1O9zGnRwCLxYJLS0s015PRNFBSG6CsrIx6WAA6nY6MQCVDrVbnNgE2NjaolwUQjUZpBFAy8vIktz2VMQ3MxDHkdDrh5cuXnFJIpxg/wPb2dl5eXp7gXm2TyQShUEgxna8oFaDRaKJer1cwj9I6X3E2wNDQ0L6qQmkEUIwKGBsbQ6fTuW++w3aw41ARIBKJ1L19+3ZKpZJu4NHr9bi6uspdvHgxrfw2mw0ePnyIUgd34I+GWSyW5pwlgNFoxK9fv9J8T0YjkKQ2wF9//UU9LICSkhLJyyRHkMIhKQFWVlaoxQWQjQ2zkhKgpqaGelkAlZWVWTE6sp5GR0cl2YzJcZzg5s++vr6c3gAq22DRJpMpIkU5BQXC4QhPnz5NNkA2sLa2Jknwh/2Opul0OlQaATRyrpzY+we/ffsm+Jwx9kyJjoesp8nJSVkcz97e3lYhIhw/fjwr5Tc2NqIibQC5QK1WxwCyc0wbAOD58+fkCFIysnHDCBGAPIEEuSAbnlJZEwAROTFTR0dHWuUODw9n5X1v3LhBs4CD9ASOjIykfQw81VV2B5XOnDmDivUESoVMYvu1trZy9+/fl6RetbW18Pr166zsRFIUAT58+JBRI3s8Hu7evXsH3vnT09PZ24ZGjqCfSaVSpRyCb968eSBl1tbWZn3xiQjwKxUWFgp2htvtFrU8h8OBtBooI+wXo+/BgwdcY2OjaMP+q1evZLH7mAjwC3q9ft88z54942pra/+oHIfDkV2dTwRIjnSjmE5PT3OnTp069L98HrJeDl5cXPy7uLj4X2LJCwaDkzabjfsTAgAAvHv3jjtx4gRmsmjkcDhk1/myJ4DYhyQYY6pfRlgyH0FGsj5//sylG/lUrp0vGxUgh504v3OnYSQS2VcdyLnzyQZIgNFo/K3vabXaQ9v5kjuCxJ5Li5n8fj+mu3sYMvTtp/sdm82W2zuCXrx4cSimgX96XrK6ujru2/9FprQwMzOT2ypAzmHixNqNU11dDbOzsxl3PoACzgYuLi7KlgBi3ALmcDhgdnaW29jYqMy08wEUcDTs0qVLsiVA4pZwjuPif/dLPK5evRo3+IqLi+d+pw42m03y91ZUsGgAgIaGBpya2hswLBwO1zPGXitt9kPTQIVDcQRINcwq8devSAL09vZyST5T7AigOBsgwdBD3nKXvbeORgDxMT4+DmazWdGdr+gRgECzAILYBHjy5AkyxrCioiLlsPLo0SNkjGFXVxfOzs7GLBYL9vf3J80/NDSEFosFx8bGsL+/HysqKpAxhhzHoUqlQpVKhRzHIcdxaLfbcWFhIZxMTldXFzLG0GKxYLJwsGNjY2ixWLCnpwd3l6/ValGtVuPdu3cRAKC5uRktFkvK97Pb7djQ0IDBYHDYYrGg0WhMmTcYDA4bjcYdeS5cuIBarRaLioqwqKgIGWOo1WqRMYbXr18Xf7gWc2XJ5XLFV7YMBkPSlS1IuCq9o6ND8Np0/rp5l8uFVqsVAQB1Oh263W5sbW3F1tZWdLlcmHgt/W4ZMzMzMdjnxFFLSwsCANbX12OymEW9vb17Vvai0Wie0Pv5/f59TzklPg+Hw3WQxoqh0+lE2W4L93q9gkGXEp81NTWhz+dDAMCWlpakL9Xe3o4AgF6vF/lOWlxcHBZqzFSfh0Kh2+fOnUtKOJ6IJSUlaDab43V8/PhxSnmxWAyE6rH7aJnH49khy2Aw7NiSPj8/H+brkEwuTxCdToeHZjn42rVr8f/b2tp2DF+JCx+pbspg7P+hg/j4wmVlZU38sJ+Y+Cndru8jAIDf7weTyfSf8fFxDgBgaWkJkqmd9fV1WFpaArVaDYjIXblyhROYRmbUFgMDA/Fo5ENDQztC5m5ubkJhYeGrdBxVYl8xfyAE8Hg84PP5AACgqqoKl5eXbw8MDAAAwOjoKAD8DI7M35GT6q6cSORn8LCVlZX4hUoOhwN8Ph90d3dDd3c3+Hw+8Hg8AACQeClkT09PfL/enTt3oKqqCpubmzEZOfly1Go1qFQq+PHjBzDGMBgM/vYxYf6drFYrBAIBAAAoLS2dikQidZcvXwYAgJGRkT3f+/hR+OrAzc1N+doAHo9nh/7frb/44RsA0Gq1Yl9fX/wZP/waDIb4X/5ZZ2dn3AYIh8N16aiARLmJO3wS5fL5edXV1NSEuy+fVqlUO9RO4netVisaDAY0GAzx+vEp0fZARLDZbDued3Z27mijxPwmkwltNhtarVa0Wq3ocDgw8ZlsbQDe8Ek89sRXnDew+M/4PLdu3RI0elwuFyYahKFQ6HaysktKSuLGGW+Mtre3p2wslUoVb3i+8d1uNyYzDnk7BBEhGo3mVVZWpqyvTqfbQfREnV5YWLjHQIaEc4m8TZQqWa1WpNvDCeQIIhABCEQAAhGAQAQgEAEIRAACEYBABCAQAQhEAAIRgEAEIBABCEQAAhGAQAQgEAEIRABCMvxvAEIA0Lcrs213AAAAAElFTkSuQmCC);
}


.actress-card[data-v-54cdc180] {
    transition: all 0.5s ease-in-out;
    width: 100%;
    display: inline-block;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    position: relative;
    cursor: pointer;
}
@media (min-width: 576px) {
.actress-card[data-v-54cdc180] {
        width: 50%;
}
}
@media (min-width: 768px) {
.actress-card[data-v-54cdc180] {
        width: 33.33333333%;
}
}
@media (min-width: 992px) {
.actress-card[data-v-54cdc180] {
        width: 25%;
}
}
@media (min-width: 1366px) {
.actress-card[data-v-54cdc180] {
        width: 20%;
}
}
.actress-card .card-icon[data-v-54cdc180] {
    width: 72px;
    height: 72px;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: content-box;
    border-radius: 0.25rem 0 0 0.25rem;
}


.chara-img-container[data-v-2353fde4] {
    border: 2px solid rgb(144, 144, 144);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px 0px;
    min-width: 192px;
    min-height: 360px;
    box-sizing: content-box;
}
.chara-img-container > img[data-v-2353fde4] {
    border-radius: 10px;
}
.name-plate-container[data-v-2353fde4] {
    background: linear-gradient(
        to bottom,
        transparent 27.5%,
        black 27.5%,
        black 45%,
        rgba(1, 1, 1, 0.75) 45%
    );
    width: 100%;
    margin: 0.5rem 1rem;
}
.name-plate[data-v-2353fde4] {
    width: 100%;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (min-width: 576px) {
.name-plate[data-v-2353fde4] {
        height: 7.5rem;
}
}


.card-header[data-v-fdccb97e] {
    position: relative;
}
.accessory-nameplate[data-v-fdccb97e] {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}


.modal-content[data-v-a38ba3fe] {
    background: rgba(255, 255, 255, 0.75);
}
.actress-resume .chara-tabs[data-v-a38ba3fe] {
    background: rgba(255, 255, 255, 0.75);
}
.actress-resume .close[data-v-a38ba3fe] {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #ddd;
}
.actress-resume .tab-content[data-v-a38ba3fe] {
    background: white;
}
.actress-resume .actress-resume-singleline[data-v-a38ba3fe] {
    white-space: nowrap;
}
.mini-icon[data-v-a38ba3fe] {
    min-width: 2.5rem;
    min-height: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.another-icon[data-v-a38ba3fe] {
    filter: drop-shadow(1px 1px 1px black);
    height: 2.5rem;
}
.tab-text-icon[data-v-a38ba3fe] {
    min-width: 2.5rem;
    min-height: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    filter: drop-shadow(1px 1px 1px #000);
}
.fade-enter-active[data-v-a38ba3fe],
.fade-leave-active[data-v-a38ba3fe] {
    transition: opacity 0.15s linear;
}
.fade-enter[data-v-a38ba3fe],
.fade-leave-to[data-v-a38ba3fe] {
    opacity: 0;
}


.main-container[data-v-d8799a36] {
    padding-top: 56px;
    overflow: hidden;
}

