@import "~bootstrap/scss/bootstrap";

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/'; 
@import '~material-design-icons-iconfont/src/material-design-icons';

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body:lang(zh-TW) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body:lang(zh-CN) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.material-icons {
    vertical-align: top;
}

.background {
    background-image: url("./img/background.svg");
    background-size: 3rem 3rem;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* !access denied! */

.card .access-denied {
    width: 100%;
    height: 100%;
    padding: 0.5rem 2.5rem;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 999;
    background-image: url(./img/accessDenied.svg);
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.card .access-denied-mask {
    filter: blur(5px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='5' /></filter></svg>#svgMask");
}