body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body:lang(zh-TW) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body:lang(zh-CN) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.material-icons {
    vertical-align: top;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.attr-text.attr-normal {}

.attr-text.attr-thunder {
    color: #fad558
}

.attr-text.attr-gravity {
    color: #c485fd
}

.attr-text.attr-fire {
    color: #fe8691
}

.attr-text.attr-ice {
    color: #92e8fe
}

.attr-text.attr-light {}

.attr-text.attr-collapse {}

.attr-text.attr-theory {}

/* !access denied! */

.card .access-denied {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    position: absolute;
    z-index: 999;
    background-image: url(./img/accessDenied.png);
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.card .access-denied-mask {
    filter: blur(5px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='5' /></filter></svg>#svgMask");
}